body{

background-attachment: fixed;
background-size: cover;

}
h1{
 padding: 10px 20px;
  text-transform: uppercase;
  font-weight: normal;
}

.container
  {
  border:1px solid black;
  width: 300px;
  margin: 0 auto;
  padding: 20px 20px;
  box-shadow: 0 0 3px rgba(0,0,0,0.1)
  padding: 16px;
  background-position: center;
  background-blend-mode:  darken;
  margin-top: 1em;
  background: #f7f7f7;
  }
  .completed
  {
    color: gray;
    text-decoration: line-through;
  }
  input[type='text']
  {
    background-attachment: fixed;
    opacity: 0.5%;
    font-size: 18px;
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    color: #2980b9;

  }

  input[type='text']:hover
  {
    color: #494949;
  }

  input:focus
  {
    background: white;
    border :none;
    outline: none;
  }
  ul
  {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li{
    background: #fff;
    height: 40px;
    line-height: 30px; // takes up the entire area;

  }
  li:nth-child(2n){
    background-color: #f7f7f7;
  }

  span
{
  background-color: #e74c3c;
  height: 20px;
  text-align: center;
  color: white;
  width: 0px;
  display: inline-block;
  padding: 10px;
  transition: 0.2s linear;
  opacity: 0;
  background-repeat: no-repeat;
}

li:hover span{
width: 25px;
opacity: 1;
}
#delete{
  background-color: red;
  width: 10px;
  height: 30px;
  cursor: pointer;
}
